#profile {
    width: 65%;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    border-bottom: 1px solid #363636;
}

.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 2em;
}


.new-photo {
    padding: 1.5em;
    border-bottom: 1px solid #363636;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    width: 45%;
    margin: 1%;
}

.photo img {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.075);
}

.actions svg {
    cursor: pointer;
}

.edit-photo {
    margin-bottom: 1em;
}

.edit-photo img{
    width: 60%;
    height: 60;
    margin-left: 22vh;
    margin-bottom: 1em;
}

 @media (max-width: 600px) {
    #profile {
    width: 75%;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: .1em;
    border-bottom: 1px solid #363636;
    width: 100%;
}

.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 2em;
}


.new-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: .1em;
    border-bottom: 1px solid #363636;
}

.new-photo input[type=file]::file-selector-button{
    width: 40%;
    border: none;
    margin-right: 10px;
    padding: 5px 5px;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    width: 100%;
    margin: 0.1%;
}

.photo img {
    width: 100%;
    height: auto;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10vh;
}

.actions svg {
    cursor: pointer;
}

.edit-photo {
    margin-bottom: 1em;
}

.edit-photo img{
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}
  } 

  @media (min-width: 600px) and (max-width: 1000px) {

    .photos-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .photo {
        width: 100%;
        margin: 0.1%;
    }
    
    .photo img {
        width: 100%;
    }

    .edit-photo img{
        width: 80%;
        height: 80%;
        margin-left: 5vh;
        margin-bottom: 1em;
    }
    
    .actions {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        margin-bottom: 10vh;
    }
    
    .actions svg {
        cursor: pointer;
    }
    
  }

  @media (min-width: 1000px) and (max-width: 1500px) {
    .edit-photo img{
        width: 70%;
        height: 70%;
        margin-left: 12vh;
        margin-bottom: 1em;
    }
  }